@media screen and (max-width:1054px){
    .navcontainer > .navcard{
        width: 25%;
   }
   .navcontainer > .navcard:nth-child(5){
        margin-right: 150px;
    }  
    
}

@media screen and (max-width:670px){
    .navcontainer > .navcard{
        width: 37%;
   }
   .navcontainer > .navcard:nth-child(5){
    margin-right:40px;
    }  
    .navcontainer > .navcard:nth-child(6){
        margin-right:135px;
    }  
   
}
@media screen and (max-width:444px){
    .navcontainer > .navcard{
        width: 57%;
   }
   .navcontainer > .navcard:nth-child(5){
    margin-right:30px;
    }  
    .navcontainer > .navcard:nth-child(6){
        margin-right:30px;
    }  
   
}