@media screen and (max-width:1280px){
    .supportimg >img{
        width:520px;
        /* padding-top:80px; */
    }  

 
}

@media screen and (max-width:960px){
    .supportimg{
        display:none;
    }
}
@media screen and (max-width:768px){
    .supportimg{
        display:none;
    } 
    .fsupport{
        width:200px;
    }
  
}

@media screen and (max-width:480px){
    .supportimg{
        display:none;
    }

   
}
.fsupport{
    width: 400px;
    height: fit-content;
    box-shadow: 2px 1px 10px #dedede;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    direction: rtl;
}